<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.northeastern.lifeassistant">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.GoogleFitPopUp" android:screenOrientation="portrait" />
        <activity android:name=".activities.spontaneous.SpontaneousActive" android:screenOrientation="portrait" />
        <activity android:name=".activities.history.HistoryInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.history.HistoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.history.StepsHistory" android:screenOrientation="portrait" />
        <activity android:name=".activities.spontaneous.SpontaneousStepCounterActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.spontaneous.SpontaneousScreen" android:screenOrientation="portrait" />
        <activity android:name=".activities.event.ScheduleScreen" android:screenOrientation="portrait" />
        <activity android:name=".activities.activity.ActivityScreen" android:screenOrientation="portrait" />
        <activity android:name=".activities.activity.CreateActivityScreen" android:screenOrientation="portrait" />
        <activity android:name=".activities.event.CreateEventScreen" android:screenOrientation="portrait" />
        <activity android:name=".activities.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="edu.northeastern.lifeassistant.utils.services.SchedulerService"
            android:exported="false" />

        <receiver
            android:name="edu.northeastern.lifeassistant.utils.services.Alarm"
            android:process=":remote" />

        <receiver
            android:name="edu.northeastern.lifeassistant.utils.services.ActionReceiverAlarm"
            android:process=":remote" />
    </application>

</manifest>